button {
	padding: 0px 5px 0px 5px;
	font-size: 8pt;
}

.panel-title {
	margin-left: 12px;
	margin-right: 12px;
	display: inline-block;
}

.panel.message-element {
	margin: 2px 2px 2px 2px;
}

#message-constructor textarea {
	display: inline-block;
}
#message-constructor .message-map-key {
	text-align: right;
	vertical-align: top;
}
#message-constructor .message-text-element * {
	vertical-align: top;
}

#message-constructor .btn {
	margin: 2px 5px 2px 5px;
}

#message-constructor .message-del-button {
	width: 	22px !important;
	float: right;
}

body {
	margin-top: 50px;
}

.form-group label {
	display: inline-block;
	width: 120px;
}